:root{
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
 body{
    text-align: center;
 }
.btn-container{

}
  #contact-btn{
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    border: none;
    /* width: 10%; */
    padding: 20px;
  }
  #about-btn{
    background: var(--secondary-color);
    border: 1px solid var(--primary-color);
    padding: 20px;
  }