  :root{
    --branding-color: rgba(108, 99, 255, 1);
    --heading-font-family:'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif;
    --secondary-color:  rgba(249, 247, 254, 1);
  }
 body{
  margin: 0;
  font-family: var(--default-font-family);
  font-weight: 500;
 }
 nav{
  padding: 1.25em 0;

 }
 nav ul{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
 }
 nav li{
 margin-left: 1em;
 line-height: 2.625rem;
 }
 nav a{
  text-decoration: none;
  color: 
  rgba(39, 33, 66, 0.7);
  transition: all 100ms ease-in-out;
 } 
 .nav-item{
  padding: 0 10px;
  line-height: 25px;

 }
 li a:hover,  li a:focus,.active{
  color: var(--branding-color) !important;
 }
 h1, h2, h3, h4, h5, h6{
  font-family: var(--heading-font-family);
 }
 
 .hero a{
  background:var(--branding-color);
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  font-size: 1.125rem;
  padding: 1em 1.875em;
  line-height: 27px;
 }

 .btn-branding{
  background:var(--branding-color);
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  font-size: 1.125rem;
  padding: 1em 1.875em;
  line-height: 27px;
  border: 1px solid var(--branding-color);
 }
 p{
  line-height: 1.875rem;
 }
 .navbar-collapse{
 display: flex;
 justify-content: end;
  }
 .hero{
  background: var(--secondary-color);
  text-align: center;
  padding: 10em 4em;
 }
 .content-container{
  padding: 3.75em 2em;
 }
 .content-container h1{
   font-size: 4rem;
 }
 .content-container h2{
  font-size: 1.125rem;
  font-family: var(--default-font-family);
  color: rgba(39, 33, 66, 1);
  font-weight: 700;
}
.content{
  margin: 1.875em;
}
.content h1{
   font-size: 3.75rem;
   line-height: 5.25rem;
}
.content h3{
  font-size: 1.5rem;
  font-family: var(--default-font-family);
  font-weight: 700;
}
 .hero p{
  font-size: 2.25rem;
  font-weight: 700;
  color: rgba(39, 33, 66, 1);

 }
 .hero h1{
  font-size: 6rem;
 }
 .hero h2{
  font-size: 1.5rem;
  line-height: 2;
  color: rgba(39, 33, 66, 1);
  font-family: var(--default-font-family);
 }
 h2{
  font-size: 4rem;
 }
 h4{
  font-size: 2.25rem;
 }
 .project-description{
  padding: 0 1.875em;
 }

 footer .email-link{
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  text-align: center;
 }
 footer{
  margin: 3.75em 0;
 }
 footer .contact-box{
  background: var(--secondary-color);
  padding: 1.875em 6.25rem;
  border-radius: .625rem;
 }
 footer .contact-box p{
  margin: 0;
 }


 footer .email-link:hover{
  color: var(--branding-color);
 }
 footer .social-links a{
  margin: 0 1.25em;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: .625em 1em;
  border-radius: 50%;
  font-size: 1.125rem;
  transition: all 100ms ease-in-out;
 }
 footer .social-links a:hover{
  background: var(--branding-color);
  color: white;
 }
 @media(max-width: 960px){
  .hero h1{
    font-size: 2.75rem;
   }
    h2{
    font-size: 1.75rem;
   }

  .project-description{
  padding: 0;
  text-align: center;
 }
 .hero{
  background: var(--secondary-color);
  text-align: center;
  padding: 5em 1.25em;
 }
 .content-container{
  text-align: center;
  padding: 0;
 }
 footer .contact-box{
  flex-direction: column;
  padding: 1.875em;
 }
 .content h1{
   font-size: 3rem;
 }
 h4{
  font-size: 1.125rem;
 }
 footer .email-link{
  font-size: 1rem;
 }
 }
