  :root{
    --branding-color: rgba(108, 99, 255, 1);
    --heading-font-family:'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif;
    --secondary-color:  rgba(249, 247, 254, 1);
  }
 body{
  margin: 0;
  font-family: var(--default-font-family)
 }
 h1, h2, h3, h4, h5, h6{
  font-family: var(--heading-font-family);
 }

 .hero a{
  background:var(--branding-color);
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  font-size: 1.125rem;
  padding: 1em 1.875em;
  line-height: 27px;
 }

 .btn-branding{
  background:var(--branding-color);
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  font-size: 1.125rem;
  padding: 1em 1.875em;
  line-height: 27px;
  border: 1px solid var(--branding-color);
 }
 p{
  line-height: 1.875rem;
 }
 .hero{
  background: var(--secondary-color);
  text-align: center;
  padding: 10em 4em;
 }
 .hero p{
  font-size: 2.25rem;
  font-weight: 700;
  color: rgba(39, 33, 66, 1);

 }
 .hero h1{
  font-size: 6rem;
 }
 .hero h2{
  font-size: 1.5rem;
  line-height: 2;
  color: rgba(39, 33, 66, 1);
  font-family: var(--default-font-family);
 }
 h2{
  font-size: 4rem;
 }
 .project-description{
  padding: 0 1.875em;
 }
 @media(max-width: 960px){
  .hero h1{
    font-size: 2.75rem;
   }
    h2{
    font-size: 1.75rem;
   }

  .project-description{
  padding: 0;
  text-align: center;
 }
 .hero{
  background: var(--secondary-color);
  text-align: center;
  padding: 5em 1.25em;
 }
 }